<nav>
    <div><a href="/" class="navlink">HOME</a></div>
    <div><a href="/" class="navlink">ITEMS</a></div>
    <div><a href="/" class="navlink">CATEGORIES</a></div>
    <div><a href="/" class="navlink">MAKERS</a></div>
</nav>